# =========================
# Java
# =========================
*.class
*.log

# Compiled output
bin/
out/
**/bin/
**/out/

# =========================
# Gradle
# =========================
.gradle/
build/
**/build/
.gradle-user/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# IDE files
# =========================

.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temp
# =========================
*.swp
*.tmp